body {
	background-color: #f0f0f5;
	color: #555;
	font: 17px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: auto;
}

#top-header {
	background-color: rgb(46, 46, 46);
	color: #fff;
}

.welcome-text {
	display: inline-block;
}

/* big-text */
.header-presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #2980B9;
	background: #8E2DE2;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-presentation h1 {
	font-size: 50px;
	color: white;
}

#view-port {
	background-position: center;
	text-align: center;
}

/* big-text */

/* nav-bar */
.nav {
	float: right;
	padding-top: 22px;
	display: inline-block;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding-right: 20px;
	color: white;
	text-decoration: none;
}

/* nav-bar */

/* about */
#about-me {
	padding-top: 40px;
	padding-bottom: 60px;
	background: rgb(245, 245, 245);
}

#about-me h1 {
	font-size: 40px;
}

.my-photo {
	height: 250px;
	width: 250px;
	float: right;

}

.main-img {
	float: left;
}

.my-info {
	width: 74%;
	float: right;
	display: inline-block;
	text-align: justify;
}

/* about */

/* projects */
#projects {
	padding-top: 40px;
	padding-bottom: 60px;
	background: white;
}

#projects h1 {
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;

}

.box1 {
	width: 50%;
	text-align: justify;
	padding: 20px;
	background: rgb(233, 242, 255);
	display: inline-block;

}

.image1 {
	width: 100%;
}

.box2 {
	padding: 20px;
	background: rgb(233, 242, 255);
	display: inline-block;
	float: right;
	width: 38%;
}

.box2 p {
	text-align: justify;
}

.image2 {
	height: 343px;
}

.box3 {
	margin-top: 20px;
	padding: 20px;
	background: rgb(233, 242, 255);
	display: inline-block;
}

.box3 p {
	float: right;
	width: 70%;
}

.image3 {
	height: 200px;
}

/* projects */

/* skills */
#skills {
	padding-top: 40px;
	padding-bottom: 60px;
	background: rgb(245, 245, 245);
}

#skills h1 {
	font-size: 40px;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
	padding-top: 20px;
}


.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 label {
	font-size: 25px;
}

progress {
	width: 90%;
	height: 25px;
}

/* skills */

/* contact */
#contact {
	background: white;
	padding-top: 40px;
	padding-bottom: 60px;
}

#contact h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 40px;
}

#contact h3 {
	text-align: center;
}

/* contact */


#main-footer {
	text-align: center;
	padding: 15px;
	background-color: rgb(46, 46, 46);
	color: #fff;
}