body {
    background-color: rgb(207, 137, 224);
}

.individual {
    float: left;
    background-color: rgb(250, 182, 250);
    width: 51%;
    margin-top: 15px;
}
.subImg{
    float: left;
    width: 13%;
}
.subIndividual{
    float: left;
    width: 70%;
}
ul{
    list-style: none;
}
